@import "../main.scss";

.bg-blue {
    margin-bottom: 2%;
    background-color: #0d6efd !important;
    box-shadow: 0 2px 5px 0px #c7c7c7;
}

.navbar-brand {
    color: white !important;
    font-size: 18px !important;
    flex-direction: row !important;

    @include tablet-landscape {
        font-size: 18px !important;
    }
}

.navbar-brand {
    margin-right: 4px !important;

    @include tablet-landscape {
        margin-right: 16px !important;
    }
}

.nav-link {
    color: white !important;
}

.logo {
    background-color: white;
    border-radius: 100%;
    text-align: center;

    min-width: 35px;
    min-height: 35px;

    margin-right: 4px !important;
    margin-bottom: 4px !important;

    img {
        max-width: 20px;
    }

    @include tablet-landscape {
        min-width: 45px;
        min-height: 45px;
        margin-right: 16px !important;
        margin-bottom: none !important;
        img {
            max-width: 27px;
        }
    }
}