@import "../main.scss";

.container-fluid {
    @include tablet-landscape {
        padding-right: 0px;
    }
}

.textbook-component {
    display: flex;
    flex-direction: column;
    height: 79vh;
    overflow: hidden;

    @include tablet-landscape {
        flex-direction: row;
    }
}

.textbook-nav {
    display: flex;
    flex-direction: row;
    min-height: 61px;
    overflow-x: scroll;

    @include tablet-landscape {
        flex-direction: column;
        overflow: visible;
    }
}

@mixin shadow-card {
    box-shadow: 0 0px 5px 0px #dfdfdf;
    border-radius: 3px;
    margin-bottom: 20px;
}

.textbook-body {
    
    padding-left: 15px;
    padding-right: 15px;

    @include tablet-landscape {
        padding-left: 100px;
        padding-right: 100px;
    }


    overflow-y: scroll;
}

#breakdown-chart {
    position: relative;
    height: 420px !important;
    width: 100% !important;
}

#grading-bins {
    @include shadow-card();
    width: 350px;
    margin: auto;
}

.grading-bin {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    h3 {
        width: 30%;
    }
}

.grade-range {
    font-size: 18px;
    color: #0d6efd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.textbook-topic {

    font-family: 'Assisstant';
    margin-bottom: 80px;

    .body {
        font-size: 18px;
        color: #5f5f5f;
        strong {
            font-weight: bold;
            color: black;
        }
        margin-bottom: 10px;
    }

    h1 {
        font-family: 'Abel';
        font-size: 28px;
        font-weight: bold;
        color: #0d6efd;
    }

    h2 {
        font-family: 'Abel';
        font-size: 24px;
        color: black;
    }

    .subtitle {
        font-family: 'Abel';
        font-size: 22px;
        color: #5f5f5f;
        strong {
            font-weight: bold;
            color: black;
        }
        margin-bottom: 10px;
    }

    .textbook-section {
        text-align: justify;
        margin-bottom: 20px;

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .body {
            font-size: 18px;
            color: black;
            strong {
                font-weight: bold;
            }
            mainpoint {
                color:#426aaa;
            }
            .bullets {
                margin-left:30px;
                mainpoint {
                    color: #426aaa;
                }
            }
            margin-bottom: 10px;
        }

        .math {
            font-family: 'Old Standard TT';
            font-size: 20px;
            padding-top: 10px;
            padding-left: 30px;
            padding-bottom: 10px;
        }

        .bigidea {
            font-size: 18px;
            padding: 10px;
            margin: 10px;
            background-color: #fcb800;
        }
        
        .textbook-subsection {
            margin-top: 20px;
            .header {
                font-size: 22px;
            }
        }
    }
}